body {
	position: relative;
	width: 1440px;
	height: 900px;
	
	background: #FFFFFF;
}

.titlebox {
	position: absolute;
	width: 550px;
	height: 108px;
	left: 445px;
	top: 56px;

	background: #C4C4C4;
	border: 17px solid #FFFFFF;
	backdrop-filter: blur(4px);
	
	/* Note: backdrop-filter has minimal browser support */

	border-radius: 90px;
	transition-property: background, border-radius;
    transition-duration: 1s;
	transition-timing-function: linear;
	
}

.titlebox:hover {
    background: #f0db95;
    /* border-radius: 10%; */
}

.cartoon {
	position: absolute;
	left: 10.17%;
	right: 61.38%;
	top: 12%;
	bottom: 83.44%;
	filter: saturate(2);
	mix-blend-mode: multiply;
}

.name {
	position: absolute;
	width: 369px;
	height: 108px;
	left: 162px;
	top: -35px;

	font-family: Rowdies;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	line-height: 100px;
	/* or 303% */

	display: flex;
	align-items: center;
	text-align: center;

	color: #000000;
}

.links {
	position: absolute;
	width: 1112px;
	height: 330px;
	left: 164px;
	top: 28%;
}
.linkedin {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0.04%;
	bottom: 0.58%;
	border-radius: 10%;
	transition-property: background;
    transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
.linkedin:hover {
    background: #2d778d;
}

.github {
	position: absolute;
	left: 43%;
	right: 0%;
	top: 0.16%;
	bottom: 0.45%;
	border-radius: 10%;	
	transition-property: background;
    transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
.github:hover {
    background: #2d778d;
}

.file{
	position: absolute;
	right: 0%;
	top: 0%;
	bottom: 0%;
	border-radius: 10%;
	transition-property: background;
    transition-duration: 700ms;
	transition-timing-function: ease-in-out;
}
.file:hover {
    background: #2d778d;
}